/* Overall chat container */
.chat-container {
    background-color: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

/* Styling the Chat Box */
.chat-box {
    border-radius: 10px;
    margin: 20px;
    width: 900px;
    max-height: 600px;
    filter: drop-shadow(16px 16px 20px #5B795C);

}

.cs-message-input__content-editor-wrapper,
.cs-message-input__content-editor {
    background-color: #cadfcb;
    opacity: 0.5;
    color: black;

}