.saving-tips-container {
    background-color: #E8E8E8;
    padding: 20px;

}

.saving-tips-header {
    text-align: center;
    color: #646c83;
    margin-bottom: 20px;
}

.left-align-title h2 {
    text-align: left;
}