.weather-container {
    width: 607px;
    height: 529px;
    margin: auto;
    margin-top: 75px;
    border-radius: 12px;
    background-color: #5b906a;
}

.weather-image {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.weather-temperature {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 90px;
    font-weight: 400;
}

.weather-location {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
}

.data-container {
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.data {
    font-size: 34px;
    font-weight: 400;
}

.text {
    font-size: 20px;
    font-weight: 400;

}

.icon {
    margin-top: 10px;
}