.sign_in-container {
    background-color: #E8E8E8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-form {
    background: linear-gradient(180deg, rgba(84.87, 123.23, 116.33, 0.5) 0%, rgba(62, 195, 171.06, 0) 100%);
    background-color: rgba(255, 255, 255, 1);
    color: black;
    padding: 20px;
    width: 50%;
    border-radius: 16px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.signin-form h1 {
    text-align: center;
    margin-bottom: 30px;
}

.signin-form label {
    display: block;
}

.signin-form input,
.signin-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
}

.signin-form input[type="email"],
.signin-form input[type="password"] {
    margin-bottom: 20px;
}

.error {
    color: #af1904;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    pointer-events: none;
}

.error_empty-field {
    color: #af1904;
    font-size: 12px;
    position: absolute;
    left: 10px;
    top: 35%;
    transform: translateY(-50%);
    pointer-events: none;
}

.name-error {
    position: relative;
}

/* Customize button styles */
button.login {
    height: 40px;
    width: 111px;
    font-size: 16px;
    font-weight: 700;
    color: #5b795c;
    border: 2px solid;
    border-color: #5a795c;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
}

button.login:hover {
    background-color: #4CAF50;
    color: #E8E8E8;
}

button.google {
    width: 300px;
    background-color: #29578D;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}

button.google:hover {
    background-color: white;
    color: #29578D;
}

button.facebook {
    width: 300px;
    background-color: #29578D;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

button.facebook:hover {
    background-color: white;
    color: #29578D;
}

button.google svg,
button.facebook svg {
    margin-right: 80px;
    /* Increase space between icon and text */
    margin-left: -60px;
    /* Shift icon to the left */
}

/* Style for the "Sign up" link */
.signin-form .message a {
    color: #4CAF50;
    transition: color 0.3s;

}

/* Style for the "Sign Up" link on hover */
.signin-form .message a:hover {
    color: #29578D;
}

/* Style for the "Forgot password" link */
#forgot a {
    color: #4CAF50;
    transition: color 0.3s;
}

/* Style for the "Forgot password" link on hover */
#forgot a:hover {
    color: #29578D;

}

#forgot {
    text-align: left;
}




/* For tablet screens */
@media (max-width: 768px) {
    .signin-form {
        width: 70%;

    }

    button.google,
    button.facebook {
        margin-right: 20px;
    }
}

/* For mobile screens */
@media (max-width: 480px) {
    .signin-form {
        width: 90%;

    }
}