.smart-home__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5b795c;
  padding: 0 2em 0 2em;
  height: 80px;
  overflow: hidden;
}

.smart-home__navbar-links {
  display: flex;
  align-items: center;
}

.smart-home__navbar-links_logo {
  margin-right: 2rem;
}

.smart-home__navbar-links_logo img {
  height: 80px;
  width: 80px;
}

.smart-home__navbar-links_container {
  display: flex;
  flex-direction: row;
}

/* Add color on hover */
.smart-home__navbar-links_container a:hover {
  color: #4caf50;
  transition: fill ease-in 0.3s;
}

.smart-home__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.smart-home__navbar-sign a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.smart-home__navbar-sign p:hover {
  color: #4caf50;
  transition: fill ease-in 0.3s;
}

.smart-home__navbar-links_container p,
.smart-home__navbar-sign p,
.smart-home__navbar-menu_container p {
  color: #c1d4c1;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

.smart-home__navbar-sign button,
.smart-home__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: black;
  background: #fff;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

/* Change the background color on hover */
.smart-home__navbar-sign button:hover,
.smart-home__navbar-menu_container button:hover {
  background-color: #4caf50;
  color: white;
  transition: fill ease-in 0.3s;
}

.smart-home__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.smart-home__navbar-menu svg {
  cursor: pointer;
}

.smart-home__navbar-menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 3rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

/* Add color on hover */
.smart-home__navbar-menu_container a:hover {
  color: #4caf50;
  transition: fill ease-in 0.3s;
}

.smart-home__navbar-menu_container p {
  margin: 1rem 0;
}

.smart-home__navbar-menu_container-links-sign {
  display: none;
}

/* Style for the user profile picture */
.user-profile-picture {
  width: 40px;
  /* Adjust size as needed */
  height: 40px;
  /* Adjust size as needed */
  border-radius: 50%;
  /* Circular shape */
  object-fit: cover;
  /* Keep aspect ratio */
  margin-right: 10px;
  /* Space between image and sign out button */
  border: 2px solid white;
  /* Optional: adds a white border around the image */
}

.link {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.link > p {
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.35rem;
  font-weight: 500;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 1px solid white;
  color: white;
  font-size: 0.8em;
  top: -1rem;
  left: -0.9rem;
  pointer-events: none;
}

.link:hover {
  color: #4caf50;
}

@media screen and (max-width: 1024px) {
  .smart-home__navbar-links_container {
    display: none;
  }

  .smart-home__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .smart-home__navbar {
    padding: 2rem;
  }

  .smart-home__navbar-sign {
    display: none;
  }

  .smart-home__navbar-menu_container {
    width: 100%;
    height: 100vh;
  }

  .smart-home__navbar-menu_container-links-sign {
    display: block;
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 1.6em;
  }

  .user-profile-picture {
    width: 35px;
    height: 35px;
  }
}

/* avtive link colour #af1904 */
.smart-home__navbar-links_container a.active,
.smart-home__navbar-menu_container a.active {
  color: #4caf50;
}
