.netatmo-container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.login-logout-button {

    height: 40px;
    width: 111px;
    font-size: 16px;
    font-weight: 700;
    color: #5b795c;
    border: 2px solid;
    border-color: #5a795c;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.login-logout-button:hover {
    background-color: #4CAF50;
    color: #E8E8E8;
}

.netatmo-container p {
    font-size: 1.1em;
    /* Slightly larger font for better readability */
    color: #333;
    /* Dark grey color for text */
    margin-bottom: 10px;
    /* Space between paragraphs */
    padding: 8px 12px;
    /* Padding for a better visual */
    border-left: 4px solid #4CAF50;
    /* A colored line on the left for modern design */
    background-color: #f4f4f4;
    /* Light background color */
    border-radius: 4px;
    /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle box shadow for depth */
}