.account-frame {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 20px;
    background: linear-gradient(180deg, rgba(84.87, 123.23, 116.33, 0.5) 0%, rgba(62, 195, 171.06, 0) 100%);
    background-color: rgba(255, 255, 255, 1);



}

h2 {
    color: white;
    text-align: center;
}