.location-container {
    margin: 20px auto;
    text-align: center;
}

.location-container button {
    height: 40px;
    width: 111px;
    font-size: 16px;
    font-weight: 700;
    color: #5b795c;
    border: 2px solid;
    border-color: #5a795c;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;

}

.location-container button:hover {
    background-color: #4CAF50;
    color: #E8E8E8;
}

.location-address {
    font-size: 30px;
    color: white;
    text-align: center;
}


.address-input {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

}

/*Tablets*/
@media (min-width: 601px) and (max-width: 1024px) {

    .location-address {
        font-size: 22px;
    }
}

/*Mobile Phones*/
@media (max-width: 600px) {

    .location-address {
        font-size: 20px;

    }
}